In [1]:
import pandas as pd

In [3]:
df = {
    'index': [0,1,2],
    'cols': [
        {'name':'growth',
         'data':[.5,.7,1.2]},
         {'name': 'Name',
          'data':['Paul','George','Ringo']},
    ]
}

In [5]:
def get_row(df, idx):
    results = []
    value_idx = df['index'].index(idx)
    for col in df['cols']:
        results.append(col['data'][value_idx])
    return results

In [6]:
get_row(df, 1)

[0.7, 'George']

In [7]:
def get_col(df, name):
    for col in df['cols']:
        if col['name'] == name:
            return col['data']

In [8]:
get_col(df, 'Name')

['Paul', 'George', 'Ringo']

In [9]:
df = pd.DataFrame({
    'growth':[.5,.7,1.2],
    'Name':['Paul','George','Ringo']
})

In [10]:
print(df)

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [11]:
df.iloc[2]

growth      1.2
Name      Ringo
Name: 2, dtype: object

In [13]:
df['Name']

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

In [14]:
df['growth']

0    0.5
1    0.7
2    1.2
Name: growth, dtype: float64

In [15]:
type(df['Name'])

pandas.core.series.Series

In [17]:
df['Name'].str.lower()

0      paul
1    george
2     ringo
Name: Name, dtype: object

In [18]:
df.Name

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

In [20]:
print(pd.DataFrame([
    {'growth':.5, 'Name':'Paul'},
    {'growth':.7, 'Name':'George'},
    {'growth':1.2, 'Name':'Ringo'}
]))

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [23]:
import numpy as np
np.random.seed(42)

In [26]:
print(pd.DataFrame(np.random.randn(10,3),
                   columns=['a','b','c']))

          a         b         c
0 -0.479174 -0.185659 -1.106335
1 -1.196207  0.812526  1.356240
2 -0.072010  1.003533  0.361636
3 -0.645120  0.361396  1.538037
4 -0.035826  1.564644 -2.619745
5  0.821903  0.087047 -0.299007
6  0.091761 -1.987569 -0.219672
7  0.357113  1.477894 -0.518270
8 -0.808494 -0.501757  0.915402
9  0.328751 -0.529760  0.513267

In [27]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['growth', 'Name'], dtype='object')]

In [28]:
df

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [29]:
df.sum(axis=0)

growth                2.4
Name      PaulGeorgeRingo
dtype: object

In [30]:
df.sum(axis=1)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [31]:
df.sum(axis='index')

growth                2.4
Name      PaulGeorgeRingo
dtype: object

In [33]:
df.sum(axis=1)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [34]:
df.axes[0]

RangeIndex(start=0, stop=3, step=1)

In [35]:
df.axes[1]

Index(['growth', 'Name'], dtype='object')

In [36]:
df = pd.DataFrame({'Score1': [None, None],
                   'Score2': [85,90]})

In [37]:
print(df)

  Score1  Score2
0   None      85
1   None      90

In [42]:
df.apply(np.sum, axis='index')

Score1      0
Score2    175
dtype: int64

In [41]:
df.apply(np.sum, axis='columns')

0    85
1    90
dtype: int64

In [53]:
#Create a dataframe with the names of your colleagues, their age (or an estimate), and their title.

colleague_df = pd.DataFrame({
    'Names':['anya', 'dan', 'morgan', 'laimis', 'paul'],
    'Ages': [25,26,20,23,45],
    'Titles': ['Team leader', 'Shopfloor colleague', 'Chef produce manager', 'Chef bread manager', 'Store manager']
})
colleague_df

    Names  Ages                Titles
0    anya    25           Team leader
1     dan    26   Shopfloor colleague
2  morgan    20  Chef produce manager
3  laimis    23    Chef bread manager
4    paul    45         Store manager

In [54]:
# Capitalize the values in the name column.

colleague_df['Names'] = colleague_df['Names'].str.capitalize()
colleague_df

    Names  Ages                Titles
0    Anya    25           Team leader
1     Dan    26   Shopfloor colleague
2  Morgan    20  Chef produce manager
3  Laimis    23    Chef bread manager
4    Paul    45         Store manager

In [55]:
# Sum up the values of the age column

colleague_df['Ages'].sum()

139