In [3]:
import pandas as pd

url = 'https://github.com/mattharrison/datasets/raw/master/data/''vehicles.csv.zip'
df = pd.read_csv(url, dtype_backend='pyarrow', engine='pyarrow')
pd.set_option('display.max_columns', None)

def gt20(val):
    return val > 20

city_mpg = df.city08
highway_mpg = df.highway08

df

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,combA08,combA08U,combE,combinedCD,combinedUF,cylinders,displ,drive,engId,eng_dscr,feScore,fuelCost08,fuelCostA08,fuelType,fuelType1,ghgScore,ghgScoreA,highway08,highway08U,highwayA08,highwayA08U,highwayCD,highwayE,highwayUF,hlv,hpv,id,lv2,lv4,make,model,mpgData,phevBlended,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,trany,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,guzzler,trans_dscr,tCharger,sCharger,atvType,fuelType2,rangeA,evMotor,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4,2.0,Rear-Wheel Drive,9011,(FFS),-1,2000,0,Regular,Regular Gasoline,-1,-1,25,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0,0,Alfa Romeo,Spider Veloce 2000,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,23.3333,0.0,35.0,0.0,Two Seaters,1985,-2250,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,12,4.9,Rear-Wheel Drive,22020,(GUZZLER),-1,3850,0,Regular,Regular Gasoline,-1,-1,14,0.0,0,0.0,0.0,0.0,0.0,0,0,10,0,0,Ferrari,Testarossa,N,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,11.0,0.0,19.0,0.0,Two Seaters,1985,-11500,T,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,329.148148,27,0.0,0,0.0,0.0,0.0,0.0,4,2.2,Front-Wheel Drive,2100,(FFS),-1,1550,0,Regular,Regular Gasoline,-1,-1,33,0.0,0,0.0,0.0,0.0,0.0,19,77,100,0,0,Dodge,Charger,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,29.0,0.0,47.0,0.0,Subcompact Cars,1985,0,<NA>,SIL,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,8,5.2,Rear-Wheel Drive,2850,<NA>,-1,3850,0,Regular,Regular Gasoline,-1,-1,12,0.0,0,0.0,0.0,0.0,0.0,0,0,1000,0,0,Dodge,B150/B250 Wagon 2WD,N,False,0,0,0,0.0,0.0,0.0,0.0,Automatic 3-spd,12.2222,0.0,16.6667,0.0,Vans,1985,-11500,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,467.736842,19,0.0,0,0.0,0.0,0.0,0.0,4,2.2,4-Wheel or All-Wheel Drive,66031,"(FFS,TRBO)",-1,2700,0,Premium,Premium Gasoline,-1,-1,23,0.0,0,0.0,0.0,0.0,0.0,0,0,10000,0,14,Subaru,Legacy AWD Turbo,N,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,21.0,0.0,32.0,0.0,Compact Cars,1993,-5750,<NA>,<NA>,T,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41139,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,403.954545,22,0.0,0,0.0,0.0,0.0,0.0,4,2.2,Front-Wheel Drive,66030,(FFS),-1,1900,0,Regular,Regular Gasoline,-1,-1,26,0.0,0,0.0,0.0,0.0,0.0,0,0,9995,0,14,Subaru,Legacy,N,False,0,90,0,0.0,0.0,0.0,0.0,Automatic 4-spd,24.0,0.0,37.0,0.0,Compact Cars,1993,-1750,<NA>,CLKUP,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
41140,14.33087,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,386.391304,23,0.0,0,0.0,0.0,0.0,0.0,4,2.2,Front-Wheel Drive,66030,(FFS),-1,1850,0,Regular,Regular Gasoline,-1,-1,28,0.0,0,0.0,0.0,0.0,0.0,0,0,9996,0,14,Subaru,Legacy,N,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,25.0,0.0,39.0,0.0,Compact Cars,1993,-1500,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
41141,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4,2.2,4-Wheel or All-Wheel Drive,66030,(FFS),-1,2000,0,Regular,Regular Gasoline,-1,-1,24,0.0,0,0.0,0.0,0.0,0.0,0,0,9997,0,14,Subaru,Legacy AWD,Y,False,0,90,0,0.0,0.0,0.0,0.0,Automatic 4-spd,23.0,0.0,34.0,0.0,Compact Cars,1993,-2250,<NA>,CLKUP,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
41142,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4,2.2,4-Wheel or All-Wheel Drive,66030,(FFS),-1,2000,0,Regular,Regular Gasoline,-1,-1,24,0.0,0,0.0,0.0,0.0,0.0,0,0,9998,0,14,Subaru,Legacy AWD,Y,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,23.0,0.0,34.0,0.0,Compact Cars,1993,-2250,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
41143,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,493.722222,18,0.0,0,0.0,0.0,0.0,0.0,4,2.2,4-Wheel or All-Wheel Drive,66031,"(FFS,TRBO)",-1,2900,0,Premium,Premium Gasoline,-1,-1,21,0.0,0,0.0,0.0,0.0,0.0,0,0,9999,0,14,Subaru,Legacy AWD Turbo,N,False,0,90,0,0.0,0.0,0.0,0.0,Automatic 4-spd,20.0,0.0,29.0,0.0,Compact Cars,1993,-6750,<NA>,CLKUP,T,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0

In [73]:
%%timeit
city_mpg.apply(gt20)

4.21 ms ± 46.7 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [51]:
%%timeit
city_mpg.gt(20)

40.5 μs ± 3.29 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [5]:
make = df.make
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: string[pyarrow]

In [9]:
make.value_counts()

make
Chevrolet                           4003
Ford                                3371
Dodge                               2583
GMC                                 2494
Toyota                              2071
                                    ...
Grumman Allied Industries              1
Environmental Rsch and Devp Corp       1
General Motors                         1
Goldacre                               1
Isis Imports Ltd                       1
Name: count, Length: 136, dtype: int64[pyarrow]

In [15]:
top5 = make.value_counts().index[:5]
top5

Index(['Chevrolet', 'Ford', 'Dodge', 'GMC', 'Toyota'], dtype='string[pyarrow]', name='make')

In [19]:
bottom5 = make.value_counts(ascending=True).index[:5]
bottom5

Index(['E. P. Dutton, Inc.', 'Panoz Auto-Development', 'Qvale',
       'Lambda Control Systems', 'London Coach Co Inc'],
      dtype='string[pyarrow]', name='make')

In [23]:
bottom5_2 = make.value_counts().index[-5:]
bottom5_2

Index(['Grumman Allied Industries', 'Environmental Rsch and Devp Corp',
       'General Motors', 'Goldacre', 'Isis Imports Ltd'],
      dtype='string[pyarrow]', name='make')

In [ ]:
vc = make.value_counts(ascending=True)
threshold = vc.nsmallest(5).max()

In [73]:
%%timeit
def generalise_top5(val):
    if val in top5:
        return val
    return 'Other'

make.apply(generalise_top5)

28.5 ms ± 80.6 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [71]:
%%timeit
make.where(make.isin(top5), other='Other')

1.15 ms ± 40.7 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [25]:
make.where(make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: string[pyarrow]

In [79]:
make.mask(~make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: string[pyarrow]

In [81]:
import numpy as np
import math

In [83]:
%%timeit
city_mpg.apply(np.log)

161 μs ± 1.95 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [85]:
%%timeit
city_mpg.apply(math.log)

3.43 ms ± 101 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [87]:
vc = make.value_counts()
top5 = vc.index[:5]
top10 = vc.index[:10]
def generalise(val):
    if val in top5:
        return val
    elif val in top10:
        return 'Top10'
    else:
        return 'Other'

In [89]:
make.apply(generalise)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [17]:
def gt20(val):
    return val > 20

In [19]:
%%timeit
city_mpg.apply(gt20)

2.31 ms ± 12 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [23]:
%%timeit
city_mpg.gt(20)

24.4 μs ± 372 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [27]:
make = df.make
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: string[pyarrow]

In [31]:
make.value_counts()

make
Chevrolet                           4003
Ford                                3371
Dodge                               2583
GMC                                 2494
Toyota                              2071
                                    ...
Grumman Allied Industries              1
Environmental Rsch and Devp Corp       1
General Motors                         1
Goldacre                               1
Isis Imports Ltd                       1
Name: count, Length: 136, dtype: int64[pyarrow]

In [34]:
top5 = make.value_counts().index[:5]

In [36]:
top5

Index(['Chevrolet', 'Ford', 'Dodge', 'GMC', 'Toyota'], dtype='string[pyarrow]', name='make')

In [38]:
def generalise_top5(val):
    if val in top5:
        return val
    return 'Other'

In [40]:
make.apply(generalise_top5)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [42]:
make.where(make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: string[pyarrow]

In [44]:
%%timeit
make.apply(generalise_top5)

17.5 ms ± 131 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [46]:
%%timeit
make.where(make.isin(top5), other='Other')

656 μs ± 12 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [48]:
make.mask(~make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: string[pyarrow]

In [50]:
import numpy as np
import math

In [52]:
%%timeit
city_mpg.apply(np.log)

103 μs ± 409 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [56]:
%%timeit
city_mpg.apply(math.log)

2.12 ms ± 27.4 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [58]:
vc = make.value_counts()
top5 = vc.index[:5]
top10 = vc.index[:10]
def generalise(val):
    if val in top5:
        return val
    elif val in top10:
        return 'Top10'
    else:
        return 'Other'

In [60]:
make.apply(generalise)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [68]:
(make
 .case_when(caselist=[(make.isin(top5), 
                           make), 
                           (make.isin(top10), 'Top10'),
                           (pd.Series(True, index=make.index),
                            'Other')])
)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [70]:
(make
 .case_when(caselist=[(make.isin(top5),
                       make),
                      (make.isin(top10), 'Top10'),
                      (pd.Series(True, index=make.index),
                       'Other')])
)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [94]:
cyl = df.cylinders
(cyl
 .isna()
 .sum()
)

206

In [82]:
missing = cyl.isna()
make.loc[missing]

7138     Nissan
7139     Toyota
8143     Toyota
8144       Ford
8146       Ford
          ...
34563     Tesla
34564     Tesla
34565     Tesla
34566     Tesla
34567     Tesla
Name: make, Length: 206, dtype: string[pyarrow]

In [84]:
cyl[cyl.isna()]

7138     <NA>
7139     <NA>
8143     <NA>
8144     <NA>
8146     <NA>
         ...
34563    <NA>
34564    <NA>
34565    <NA>
34566    <NA>
34567    <NA>
Name: cylinders, Length: 206, dtype: int64[pyarrow]

In [86]:
temp = pd.Series([32, 40, None, 42, 39, 32],
                 dtype='float[pyarrow]')
temp

0    32.0
1    40.0
2    <NA>
3    42.0
4    39.0
5    32.0
dtype: float[pyarrow]

In [88]:
temp.interpolate()

0    32.0
1    40.0
2    41.0
3    42.0
4    39.0
5    32.0
dtype: float[pyarrow]

In [90]:
city_mpg.loc[:446]

0      19
1       9
2      23
3      10
4      17
       ..
442    15
443    15
444    15
445    15
446    31
Name: city08, Length: 447, dtype: int64[pyarrow]

In [92]:
(city_mpg
 .loc[:446]
 .clip(lower=city_mpg.quantile(.05),
       upper=city_mpg.quantile(.95))
)

0      19
1      11
2      23
3      11
4      17
       ..
442    15
443    15
444    15
445    15
446    27
Name: city08, Length: 447, dtype: int64[pyarrow]

In [94]:
city_mpg.sort_values()

7901       6
21060      6
34557      6
35887      6
37161      6
        ...
34563    138
34564    140
31256    150
32599    150
33423    150
Name: city08, Length: 41144, dtype: int64[pyarrow]

In [104]:
(city_mpg.sort_values() + highway_mpg) / 2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: double[pyarrow]

In [106]:
city_mpg.sort_values().sort_index()

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64[pyarrow]

In [3]:
city_mpg.drop_duplicates()

0         19
1          9
2         23
3         10
4         17
        ...
34364    127
34409    114
34564    140
34565    115
34566    104
Name: city08, Length: 105, dtype: int64[pyarrow]

In [5]:
city_mpg.rank(method='min')

0        25555
1          136
2        35119
3          336
4        17467
         ...
41139    25555
41140    28567
41141    21502
41142    21502
41143    13492
Name: city08, Length: 41144, dtype: uint64[pyarrow]

In [7]:
city_mpg.rank().sort_values()

7901         3.0
21060        3.0
34557        3.0
35887        3.0
37161        3.0
          ...
34563    41139.5
34564    41141.0
31256    41143.0
32599    41143.0
33423    41143.0
Name: city08, Length: 41144, dtype: double[pyarrow]

In [39]:
city_rank = city_mpg.rank(method='dense')
df_rank = pd.DataFrame({'city_mpg': city_mpg, 'rank': city_rank})
df_rank.sort_values(by='rank')

       city_mpg  rank
7901          6     1
21060         6     1
34557         6     1
35887         6     1
37161         6     1
...         ...   ...
34563       138   103
34564       140   104
31256       150   105
32599       150   105
33423       150   105

[41144 rows x 2 columns]

In [45]:
make.replace('Subaru', 'スバル')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4               スバル
            ...
41139           スバル
41140           スバル
41141           スバル
41142           スバル
41143           スバル
Name: make, Length: 41144, dtype: string[pyarrow]

make.replace(r'(Fer)ra(r.*)', value=r'\2-other-\1', regex=True)

In [50]:
make.replace(r'(Fer)ra(r.*)', 
             value=r'\2-other-\1', 
             regex=True)

0          Alfa Romeo
1        ri-other-Fer
2               Dodge
3               Dodge
4              Subaru
             ...
41139          Subaru
41140          Subaru
41141          Subaru
41142          Subaru
41143          Subaru
Name: make, Length: 41144, dtype: string[pyarrow]

In [52]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: string[pyarrow]

In [58]:
pd.cut(city_mpg, 10).value_counts()

city08
(5.856, 20.4]     30872
(20.4, 34.8]       9667
(34.8, 49.2]        367
(121.2, 135.6]       55
(49.2, 63.6]         54
(78.0, 92.4]         48
(92.4, 106.8]        32
(106.8, 121.2]       26
(135.6, 150.0]       12
(63.6, 78.0]         11
Name: count, dtype: int64

In [62]:
pd.cut(city_mpg, [0,10,20,40,70,150]).value_counts()

city08
(10, 20]     29993
(20, 40]      9897
(0, 10]        879
(40, 70]       191
(70, 150]      184
Name: count, dtype: int64

In [66]:
pd.qcut(city_mpg,10).value_counts()

city08
(5.999, 13.0]    6019
(18.0, 20.0]     5318
(14.0, 15.0]     4503
(17.0, 18.0]     4053
(21.0, 24.0]     4036
(16.0, 17.0]     4035
(15.0, 16.0]     3975
(24.0, 150.0]    3704
(13.0, 14.0]     2969
(20.0, 21.0]     2532
Name: count, dtype: int64

In [70]:
pd.qcut(city_mpg, 10, labels=list(range(1,11))).value_counts()

city08
1     6019
7     5318
3     4503
6     4053
9     4036
5     4035
4     3975
10    3704
2     2969
8     2532
Name: count, dtype: int64

In [31]:
city_mean = city_mpg.mean()
city_mean

18.369045304297103

In [41]:
# Create a series from a numeric column that has the value of 'high' if it is equal to or above the mean and 'low' if it is below the mean using .apply

city_mpg.apply(lambda x: 'high' if x < city_mean else 'low')

0         low
1        high
2         low
3        high
4        high
         ...
41139     low
41140     low
41141    high
41142    high
41143    high
Name: city08, Length: 41144, dtype: object

In [49]:
# Create a series from a numeric column that has the value of 'high' if it is equal to or above the mean and 'low' if it is below the mean using .case_when.

result = city_mpg.case_when(caselist=[
    (city_mpg > city_mean, 'High'),
    (city_mpg < city_mean, 'Low'),
    (pd.Series(True, index=city_mpg.index), 'Mean')
])

result

0        High
1         Low
2        High
3         Low
4         Low
         ...
41139    High
41140    High
41141     Low
41142     Low
41143     Low
Name: city08, Length: 41144, dtype: object

In [78]:
%%timeit

city_mpg.case_when(caselist=[
    (city_mpg > city_mean, 'High'),
    (city_mpg < city_mean, 'Low'),
    (pd.Series(True, index=city_mpg.index), 'Mean')
])

# “Time the differences between the previous two solutions to see which is faster”

1.98 ms ± 31 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [80]:
%%timeit

city_mpg.apply(lambda x: 'high' if x < city_mean else 'low')

# “Time the differences between the previous two solutions to see which is faster”

4.17 ms ± 161 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [108]:
# Replace the missing values of a numeric series with the median value.

#cyl.isna().sum()
cyl_med = cyl.median()
cyl_filled = cyl.fillna(cyl_med)
cyl_filled

0         4
1        12
2         4
3         8
4         4
         ..
41139     4
41140     4
41141     4
41142     4
41143     4
Name: cylinders, Length: 41144, dtype: int64[pyarrow]

In [134]:
# “Clip the values of a numeric series between to 10th and 90th percentiles.”
cyl_lower = cyl.quantile(0.1)
cyl_upper = cyl.quantile(0.9)

cyl_clipped = cyl.clip(upper=cyl_upper, lower=cyl_lower)
cyl_clipped
# (cyl.min(), cyl.max()), (cyl_clipped.min(), cyl_clipped.max())
# ((cyl < cyl_lower) | (cyl > cyl_upper)).sum()
# cyl.count()

0        4
1        8
2        4
3        8
4        4
        ..
41139    4
41140    4
41141    4
41142    4
41143    4
Name: cylinders, Length: 41144, dtype: int64[pyarrow]

In [174]:
# “Using a categorical column, replace any value that is not in the top 5 most frequent values with 'Other'.”
top5 = make.value_counts().nlargest(5).index
make_cleaned = make.where(make.isin(top5), other='Other')
make_cleaned

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: string[pyarrow]

In [196]:
# “Using a categorical column, replace any value that is not in the top 10 most frequent values with 'Other'.”

top10 = make.value_counts().nlargest(5).index
make.where(make.isin(top10), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: string[pyarrow]

In [69]:
# “Make a function that takes a categorical series and a number (n) and returns a replace series that replaces any value not in the top n most frequent values with 'Other'.”

def replace(cat, n):
    cat_ident = cat.value_counts().nlargest(n).index
    result = cat.where(cat.isin(cat_ident), other='Other')
    return result

replace(make, 5)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: string[pyarrow]

In [71]:
# « Using a numeric column, bin it into 10 groups with the same width. »

0        (5.856, 20.4]
1        (5.856, 20.4]
2         (20.4, 34.8]
3        (5.856, 20.4]
4        (5.856, 20.4]
             ...
41139    (5.856, 20.4]
41140    (5.856, 20.4]
41141    (5.856, 20.4]
41142    (5.856, 20.4]
41143    (5.856, 20.4]
Name: city08, Length: 41144, dtype: category
Categories (10, interval[float64, right]): [(5.856, 20.4] < (20.4, 34.8] < (34.8, 49.2] < (49.2, 63.6] ... (92.4, 106.8] < (106.8, 121.2] < (121.2, 135.6] < (135.6, 150.0]]

In [99]:
# « Using a numeric column, bin it into 10 groups that have equal-sized bins. »

labels = [f'{i*10-10}-{i*10}%' for i in range(1,11)]
pd.qcut(city_mpg, 10, labels=labels)

0        60-70%
1         0-10%
2        80-90%
3         0-10%
4        40-50%
          ...
41139    60-70%
41140    60-70%
41141    50-60%
41142    50-60%
41143    30-40%
Name: city08, Length: 41144, dtype: category
Categories (10, object): ['0-10%' < '10-20%' < '20-30%' < '30-40%' ... '60-70%' < '70-80%' < '80-90%' < '90-100%']